config-personal filter=git-crypt diff=git-crypt
config-work filter=git-crypt diff=git-crypt
dotfiles/offlineimap/config filter=git-crypt diff=git-crypt
neomuttrc filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
