config-personal filter=git-crypt diff=git-crypt
config-work filter=git-crypt diff=git-crypt
modules/email/* filter=git-crypt diff=git-crypt
modules/syncthing/*.id filter=git-crypt diff=git-crypt
modules/ssh.nix filter=git-crypt diff=git-crypt
dotfiles/titwsync/titwsyncrc.yaml filter=git-crypt diff=git-crypt
system/picluster/k3s/server_token.key filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
wireguard/* filter=git-crypt diff=git-crypt
