[Unit]
Description=Adjust the color temprature of your screen at night
Documentation=https://gitlab.com/chinstrap/gammastep
PartOf=wayland-session.target
BindsTo=sway-session.target
After=wayland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/gammastep
Restart=always

[Install]
WantedBy=sway-session.target
