[Unit]
Description=Idle managment daemon
Documentation=https://github.com/swaywm/swayidle
PartOf=wayland-session.target
BindsTo=sway-session.target
After=wayland-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle
Restart=always

[Install]
WantedBy=sway-session.target
